
.Header{
    background-color: black;
    opacity: 0.3;
}

.Header img {
    padding: 5px;
}
.Header nav {
    display: flex;
    justify-content: center;
}

.Logo{
    color:white;
    font-family: system-ui;
    font-size: xx-large;
    padding: 0% 38%;
}